@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Sansation', serif;
  font-weight: 400;
  font-size: 14px;
  
}